@each $skinVariantSelector, $imagesPath in $skinVariantPaths {
  :global(html.skin-variant-#{$skinVariantSelector}) {
    $base: '#{$imagesPath}/backgrounds';

    .background-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('#{$base}/village-9-16.jpg');

      @media (min-width: 1024px) {
        background-image: url('#{$base}/village-16-9.jpg');
      }

      &--village {
        background-image: url('#{$base}/village-9-16.jpg');

        @media (min-width: 1024px) {
          background-image: url('#{$base}/village-16-9.jpg');
        }
      }
    }
  }
}
