@each $skinVariantSelector, $imagesPath in $skinVariantPaths {
  :global(html.skin-variant-#{$skinVariantSelector}) .building {
    $base: '#{$imagesPath}/buildings';
    background-color: transparent !important;

    &-village {
      $villageBase: '#{$base}/village';

      @each $building in $buildings {
        $buildingBase: '#{$villageBase}/#{$building}';

        &-#{$building} {
          background-image: url('#{$buildingBase}/#{$building}-tier-1.png');
          background-color: transparent !important;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }
  }
}
